#box {
  position: absolute;
  left: 0;
  right: 0;
  width: 100px;
  height: 100px;
  background-color: #953e3e;
  border: 2px solid #333333;
  padding: 20px;
  margin: 15px;
  box-sizing: border-box;
}
